<%# html %><%# body %><%# div#wrapper%><%# main %>
                <section id="logged-in">
                    <h1><%- title %></h1>

                    <form>
                        <section class="account-info">
                            <h2>Welcome, <%= locals.accountData.account_firstname %></h2>
                            <dl>
                                <dt>Account type:</dt>
                                <dd><%- locals.accountData.account_type %></dd>
                                <dt>Email:</dt>
                                <dd><%- locals.accountData.account_email %></dd>
                                <dt>First name:</dt>
                                <dd><%- locals.accountData.account_firstname %></dd>
                                <dt>Last name:</dt>
                                <dd><%- locals.accountData.account_lastname %></dd>
                            </dl>
                            <a href="/account/update/<%- locals.accountData.account_id %>" title="go to account information update form">Update account information</a>
                        </section>
                        <% if (locals.accountData.account_type === 'Admin') { %>
                        <hr>
                        <section>
                            <h3>Account Management</h3>
                            <p><a href="/account/manage" title="view account management page">Manage accounts</a></p>
                        </section><% } %>
                        <% if (['Employee','Admin'].includes(locals.accountData.account_type)) { %>
                        <hr>
                        <section>
                            <h3>Inventory Management</h3>
                            <p><a href="/inv" title="view inventory management page">Manage inventory</a></p>
                        </section><% } %>
                    </form>
                </section>