<%# html %><%# body %><%# div#wrapper%><%# main %>
                <section id="delete-inv" class="inv-delete-page">
                    <h1><%- title %></h1>
                    <%- messages() %><% if (errors) { %>
                    <ul class="notice"><% errors.array().forEach(error=> { %>
                        <li><%= error.msg %></li><% }) %>
                    </ul><% } %>

                    <form action="/inv/delete" method="post">
                        <p>Deletion can <b>not</b> be undone. Confirm that this is the correct item to delete <em>before</em> proceeding.</p>
                        
                        <label for="inv_make">Make</label>
                        <input type="text" readonly<%if(locals.inv_make){%> value="<%= locals.inv_make %>"<%}%>>

                        <label for="inv_model">Model</label>
                        <input type="text" readonly<%if(locals.inv_model){%> value="<%= locals.inv_model %>"<%}%>>

                        <label for="inv_price">Price</label>
                        <input type="number" readonly<%if(locals.inv_price){%> value="<%= locals.inv_price %>"<%}%>>

                        <label for="inv_year">Year</label>
                        <input type="number" readonly<%if(locals.inv_year){%> value="<%= locals.inv_year %>"<%}%>>

                        <input type="hidden" name="inv_id"<%if(locals.inv_id){%> value="<%=locals.inv_id%>"<%}%>>

                        <button type="submit">Permenantly Delete Vehicle</button>
                    </form>
                </section>